 
.content{
background-color: #d7d5d5;
text-align: center;
}
h2{
  font-size: 400%;
  font-family: 'Satisfy', cursive;
  text-shadow: 2px 2px #e7a90e;

}
p{
  font-family: 'Square Peg', cursive; 
  font-size: 200%;
}

#favicon{
  font-size: 150%;
  text-align: left;
}