<div class="content">
  
  <h2>Somos {{cliente}}</h2>
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, incidunt accusantium. Non vel officia ad itaque asperiores tempore consequuntur, est iure facilis atque ipsam reprehenderit. Doloremque aspernatur reprehenderit ex laboriosam!</p>
  
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum asperiores quam dignissimos architecto neque, expedita in, aliquam perspiciatis nam pariatur quos, soluta molestias minus inventore animi eius perferendis sequi blanditiis.</p>

  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, accusantium pariatur? Veniam, in voluptatibus aperiam ex laborum ea porro tempora temporibus, sint repudiandae aut dignissimos </p>

  <p id="favicon"><a href="https://www.flaticon.com/free-icons/chef" title="chef icons">Chef icons created by Darius Dan - Flaticon</a></p>
</div>
